
<h1>Admin Panel</h1>
<p><%= link_to "Manage Deals", deals_path %></p>
<p><%= link_to "Manage Coupons", coupons_path %></p>
<p><%= link_to "Manage Orders", orders_path %></p>


Manage Users

<p><%= link_to "Manage Admins", '/admin/admins' %></p>
<p><%= link_to "Manage Members", '/admin/users' %></p>
<p><%= link_to "Manage Member Profiles", '/profiles' %></p>

