

		<div id="year"><%=@end_year%></div>
		<div id="month"><%=@end_month%></div>
		<div id="day"><%=@end_day%></div>
		<div id="hour"><%=@end_hour%></div>

		<!-- Countdown dashboard start -->
		<div id="countdown_dashboard">


			<div class="dash days_dash">
				<span class="dash_title"><%=t :days%></span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash hours_dash">
			<span class="dash_title"><%=t :hours%></span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash minutes_dash">
				<span class="dash_title"><%=t :minutes%></span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash seconds_dash">
			<span class="dash_title"><%=t :seconds%></span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash-left-to-buy"><%=t :time_left%></div>
		</div>
		<!-- Countdown dashboard end -->



