<%= form_for @deal, :html => { :multipart => true } do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="deal-info">
  <%= image_tag @deal.image.url %>

	<%= f.file_field :image %>

  <div class="field">


    <%= f.label :title %><br />
      <% Deal.available_translatable_columns_of(:title).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
      <% Deal.available_translatable_columns_of(:description).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
      <% Deal.available_translatable_columns_of(:summary).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
  <div class="field">
	    <%= f.label :fine_print %><br /> 
      <% Deal.available_translatable_columns_of(:fine_print).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.datetime_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
	  <%= f.label :showoff %><br/>
	  Yes
	  <%= f.radio_button :showoff, true %>
	  No
	  <%= f.radio_button :showoff, false %>
  </div>
  </div>

  <div class = "company-info">
	  
  <div class="field">
    <%= f.label :company_name %><br />
      <% Deal.available_translatable_columns_of(:company_name).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
  <div class="field">
    <%= f.label :company_address %><br />
      <% Deal.available_translatable_columns_of(:company_address).each do |attribute| %> 
	  <%= f.text_field attribute %> 
 
  <% end %>
  </div>
    <div class="field">
    <%= f.label :company_website %><br />
    <%= f.text_field :company_website %>
  </div>
    <div class="field">
    <%= f.label :company_phone %><br />
    <%= f.text_field :company_phone %>
  </div>

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
