<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="deal-info">

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :fine_print %><br />
    <%= f.text_field :fine_print %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.datetime_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
	  <%= f.label :showoff %><br/>
	  Yes
	  <%= f.radio_button :showoff, true %>
	  No
	  <%= f.radio_button :showoff, false %>
  </div>
  </div>

  <div class = "company-info">
	  
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_address %><br />
    <%= f.text_area :company_address %>
  </div>
    <div class="field">
    <%= f.label :company_website %><br />
    <%= f.text_field :company_website %>
  </div>
    <div class="field">
    <%= f.label :company_phone %><br />
    <%= f.text_field :company_phone %>
  </div>

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
