<h1><%=t :checkout%></h1>

<%form_for :order, @order, :url => { :action => "create" }  do |f|%>


	<div id="error_explanation">

		<% if @order.errors.any? %>

			<h2> <%= pluralize(@order.errors.count, 'error') %> 
				prohibited this deal from being purchased: </h2>

			<ul>
				
				<% @order.errors.full_messages.each do |msg| %>

					<li> <%= msg %> </li>

				<% end %>

			</ul>

		<% end %>

	</div>


	<br/>


	<%= f.hidden_field :deal_id, :value => @deal.id %>


	<table>
	
	<tr>
		<th><%=t :deal%></th>
		<th><%=t :price%></th>
		<th><%=t :quantity%></th>
		<th><%=t :total%></th> 

	</tr>

	<tr>
		
		<td><%= h(@deal.title) %></td>
		<td><%= number_to_currency(h(@deal.price)) %></td>
		<td><%=f.text_field :quantity %></td>
		<td><%= number_to_currency((@deal.price)*1)%></td> 
	</tr>



	
	</table>

	<br />




	<% if !anybody_signed_in? %>

		<%=t :already_have_account %>
		<br/>
        <%=t :you_can_use %>
	<% fb_signin = image_tag "fb_login.png", :alt => "Facebook" %>
	<%= link_to fb_signin, '/auth/facebook', :class => 'fb-signin' %>
	<%=t :or %>
	<%= link_to t(:signin), new_user_session_path, :class => "nav-link" %>
        	
	<h2><%=t :create_account%></h2>

		<%= fields_for(@user) do |fo| %>

			<div class="field">
		
				<%=t :name %> <br/>
				<%= fo.text_field :name %>
		
			</div>	
	
			<div class="field">
		
				<%=t :email %> <br/>
				<%= fo.text_field :email %>
		
			</div>

			<div class="field">
	
				<%=t :password %> <br/>
				<%= fo.text_field :password %>
			
			</div>

			<div class="field">
				
				<%=t :confirm_password %> <br/>
				<%= fo.text_field :password_confirmation %>
			
			</div>

		<% end %>
	
	<% end %>


	<h2><%=t :billing_information%></h2>



	<div class="field">
	
		<%=t :cardholder_name %><br/>
		<%= f.text_field :cardholder_name %>

	</div>

	<div class="field">
		
		<%=t :card_number %><br/>
		<%= f.text_field :card_number %>

	</div>

	<div class="field">
	
		<%=t :security_code %><br/>
		<%= f.text_field :security_code %>

	</div>

	<div class="field">
		
		<%=t :expiry_date %><br/>
		<%= f.text_field :expiry_date %>

	</div>

	<div class="field">
		
		<%=t :billing_address %><br/>
		<%= f.text_field :billing_address %>

	</div>

	<div class="field">
		
		<%=t :city %><br/>
		<%= f.text_field :city %>

	</div>

	<div class="field">
	
		<%=t :province %><br/>
		<%= f.text_field :province %>

	</div>
	
	<div class="field">
	
		<%=t :postal_code %><br/>
		<%= f.text_field :postal_code %>

	</div>

	<div class="action">

		<%= f.submit "Purchase Deal"%>

	</div>

<% end %>


