<h1><%= t :recent_deals%></h1>

<table>
  <tr>

	  <th><%=t :deal_date%></th>
    <th></th>
    <th><%=t :deal %></th>   
    <th><%=t :price %></th>
    <th><%=t :value %></th>
    <th><%=t :discount %></th>
    <th><%=t :savings%></th>

  </tr>


<% @deals.each do |deal| %>
  <tr>
	 
    <td><%= deal.start_time.strftime("%B %d, %Y") %></td>	 
    <td><%= image_tag deal.image.url, :size => '120x120' %></td>      
    <td><%= link_to deal.title, {:action => 'deal', :id => deal.id} %><br/><%=deal.description %></td>
    <td><%= number_to_currency(deal.price) %></td>
    <td><%= number_to_currency(deal.value) %></td>
    <td><%= ((1 - (deal.price/deal.value))*100).to_i %> %</td>
    <td><%= number_to_currency(deal.value - deal.price)%></td>

  </tr>
<% end %>
</table>



