<h1>Past Deals</h1>

<table>
  <tr>

    <th>Date</th>
    <th></th>
    <th>Deal</th>   
    <th>Price</th>
    <th>Value</th>
    <th>Savings</th>

  </tr>


<% @deals.each do |deal| %>
  <tr>
	 
    <td><%= deal.start_time.strftime("%B %d, %Y") %></td>	 
    <td><%= image_tag deal.image.url, :size => '120x120' %></td>      
    <td><%= link_to deal.title, {:action => 'deal', :id => deal.id} %><br/><%=deal.description %></td>
    <td><%= deal.price %></td>
    <td><%= deal.value %></td>
    <td><%= (1 - (deal.value/deal.price))*100 %> %</td>

  </tr>
<% end %>
</table>



