<!DOCTYPE html>
<html>
<head>
  <title>Groupbuy</title>

  <%= render 'shared/stylesheets' %> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%= render 'shared/navigation' %>

  <%= render 'shared/menu' %>

</head>
<body>

	        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
  
<%= yield %>

<%= render 'shared/footer' %>

</body>
</html>
